.main{
background-color: rgb(235, 238, 240);
display: flex;
flex-direction: row;
text-align: center;
padding: 15px 100px 60px 10px;
border-radius: 20px;
min-width: 250px;
}
.sub{
    /* background-color: rgb(99, 179, 150); */
text-align: left;
border-radius: 20px;
padding: 10px 50px;
display: flex;
flex-direction: column;
justify-content:space-between;
box-sizing: content-box;
}
.prasad{ 
    text-align: left;
}
.button{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px 50px 100px 20px;
}

.main-sub{
    width:250px;
}
